@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

* {
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar*/

.nav-bar {
    background-color: #F2CED8;
}
.col-5 a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.col-5 ul {
    list-style-type: none;
}
.col-5 .li {
    line-height: 1.5em;
    text-align: center;
}
.col-5 li.bold-nav-item  {
    font-weight: 600;
}
img.activate {
    cursor: pointer;
 }
 ul.drop-down-menu {
    transition: all ease-in-out 0.5s;
}
 .nav-group:hover ul.drop-down-menu {
    background-color: rgba(242, 206, 216, 0.7);
    line-height: 1.6;
    word-break: break-word;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .menu-media:hover .col-5 {
        background-color: rgba(242, 206, 216, 0.8);
    }
    .menu-media:hover .col-5 ul li {
        text-align: center;
        font-size: 18px;
    }
}

/* Start Screen*/

.start-screen .content {
    background-color: #2C51BF;
 }
 .start-screen .col-4 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
 }
 .start-screen .col-4 span {
    color: #F29F05;
 }
 .start-screen .col-4 h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
 }
 .start-screen .col-4 button {
    background: linear-gradient(95.88deg, #F29F05 -4.53%, #E6AF49 111.08%, rgba(242, 159, 5, 0) 113.54%);
    border-radius: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.1em;
    transition: box-shadow ease-in-out 0.3s;
 }
 .start-screen .col-4 button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
 }
 .pic-1 img, .pic-2 img, .pic-3 img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .start-screen .col-4 h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
     }
     .start-screen .col-4 h2 {
        font-size: 18px;
        line-height: 32px;
     }
}
 /* Statistics*/

 .statistics {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.1em;
}
.static-1 h3, .static-2 h3, .static-3 h3{
    font-weight: 600;
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .statistics {
        font-weight: 200;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.1em;
    }
}
/* Banner*/

.banner .row-86 .picture-text p{
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.1em;
}
.banner .row-14 {
    background: #F2CED8;
}
.banner .row-14 h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.1em;
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .banner .row-86 .picture-text p{
        font-size: 12px;
        line-height: 22px;
    }
    .banner .row-14 h5 {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
}
/* Information*/

.information p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.information h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 80px;
    letter-spacing: 0.1em;
}
.information span {
    color: #F29F05;
}
.information ul {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
}

/* Accordion*/

.cources .cources-title h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 78px;
    letter-spacing: 0.1em;
    word-break: break-word;
}
.cources .cources-title-media h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0.1em;
    word-break: break-word;
}
.cources label {
    background: #2C51BF;
    border-radius: 8px;
    cursor: pointer;
}
.cources label:hover {
    background: linear-gradient(to left bottom, #7f8ebb, #6b7fbd, #5870bf, #4361bf, #2c51bf);
    border-radius: 8px;
}
.cources label h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 44px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.acc-hideinfo-group-1, .acc-hideinfo-group-2, .acc-hideinfo-group-3, .acc-hideinfo-group-4, .acc-hideinfo-group-5{
    opacity: 0;
    background: #F2CED8;
    border-radius: 8px;
    transition: height .5s linear, opacity .2s linear; 
}
.acc-info h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}
.acc-info ul,  .acc-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
}
.acc-info ul {
    list-style: none;
}
#acс-1:checked ~ .acc-hideinfo-group-1, #acс-2:checked ~ .acc-hideinfo-group-2, #acс-3:checked ~ .acc-hideinfo-group-3, #acс-4:checked ~ .acc-hideinfo-group-4, #acс-5:checked ~ .acc-hideinfo-group-5 { 
    opacity: 1;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .cources label h3 {
        font-size: 18px;
    }
}
/* Test Packets*/

.test-packets .title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 59px;
    letter-spacing: 0.1em;
}
.test-packets .col-10-col-1, .test-packets .col-10-col-2, .test-packets .col-10-col-3{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: transform ease-in-out 0.4s, box-shadow ease-in-out 0.4s;
}
.test-packets .col-10-col-1:hover, .test-packets .col-10-col-2:hover, .test-packets .col-10-col-3:hover {
    transform: translate(5px, -15px);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.test-packets .col-10-col-1 .colored-title, .test-packets .col-10-col-3 .colored-title {
    background: #F29F05;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.test-packets .col-10-col-2 .colored-title {
    background: #2C51BF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.test-packets .colored-title h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.test-packets p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .test-packets .title h2 {
        font-size: 28px;
        line-height: 45px;
    }
    .test-packets p {
        font-size: 14px;
        line-height: 24px;
    }
}
/* Contact - Box, Form*/

.contact-box .form h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.1em;
}
.form input, .form textarea{
    border-radius: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
}
.form input.input-60 {
    background: #2C51BF;
    color: #FFFFFF;
}
.form textarea {
    background: #FFFFFF;
    border: 2px solid #2C51BF;
    box-sizing: border-box;
    color: #000000;
    word-break: break-all;
}
form input.button {
    background: linear-gradient(95.88deg, #F29F05 -4.53%, #E6AF49 111.08%, rgba(242, 159, 5, 0) 113.54%);
    border-radius: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    transition: box-shadow ease-in-out 0.3s;
}
form input.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
 }

/* Footer*/

footer {
    background: #F2CED8;
}
.footer-col-1 .logo-slogan p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
}
.footer-col-2 .social-images img {
    cursor: pointer;
    transition: transform ease-in-out 0.3s;
}
.footer-col-2 .social-images img:hover {
    transform: scale(1.15);
}
.footer-col-2 .social-title p{
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.footer-col-2 .social-title span {
    color: #F29F05;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .footer-col-1 .logo-slogan p {
        font-size: 12px;
        line-height: 24px;
    }
    .footer-col-2 .social-title p{
        font-size: 12px;
        line-height: 25px;
    } 
}